#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: "IBM 3270";
  src: url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.eot");
  src: url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/6d2ac8672f2eb25e2d0f0b52465f00f8.svg#IBM 3270")format("svg");
}